@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html {
    font-size: 62.5%;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
}

.header {
    background-color: var(--primaryColor);
    color: var(--buttonColor);
}

.menu {
    margin: 0;
    padding: 3%;
    list-style: none;
    display: flex;
    

}

.item {
    padding: 1%;
}
.amenu {
    border: 2px solid var(--buttonColor);
    border-radius: 5px;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    
}

li > a {
    text-decoration: none;
    color: var(--buttonColor);
}

section {
    margin: 2%;
    padding: 2%;
    background-color: var(--secondaryColor);
    color: var(--textColor);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border-radius: 20px;
}

.footer {
    background-color: var(--primaryColor);
    color: var(--buttonColor);
    display: flex;
    justify-content: center;
}

.redes {
    margin: 0;
    padding: 2%;
    list-style: none;
    display: flex;
}

.red {
    margin: 2%;
    padding: 2%;
    border: 2px solid var(--buttonColor);
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.amenu:hover {
    background-color: var(--thirdColor);
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
}

.principal {
    display: flex;
}

.objeto {
    background-color: var(--primaryColor);
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    justify-content: flex-start;
    border: 2px solid var(--textColor);
    position: relative;
}

.objeto:hover {
    top: 2px;
    right: 2px;
}

.boton {
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondaryColor);
    color: var(--buttonColor);
    padding: 10px;
    border-radius: 10px;
}

.boton:hover {
    background-color: var(--thirdColor);
}

.carrito {
    background-color: var(--secondaryColor);
    width: 50px;
    height: 50px;
    margin: 2%;
    border-radius: 10px;
}

.carrito:active {
    background-color: var(--thirdColor);
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.search {
    font-family: 'Roboto';
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: var(--secondaryColor);
    border: 0;
    border-radius: 10px;
    color: var(--buttonColor);
    width: 30%;
}

.infoCarrito {
    padding: 2%;
    position: fixed;
    z-index: 1;
    background-color: var(--primaryColor);
    color: var(--buttonColor);
    width: 50%;
}

.texto {
    font-size: 1.5rem;
    font-family: 'Roboto';
}


.hide {
    display: none;
}

.search {
    font-family: 'Roboto';
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: var(--secondaryColor);
    border: 0;
    border-radius: 10px;
    color: var(--buttonColor);
}

body::-webkit-scrollbar {
    background-color: var(--primaryColor);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondaryColor);
    border-radius: 10px;
}

body::-webkit-scrollbar-button {
    background-color: var(--buttonColor);
}

body::-webkit-scrollbar-button:active {
    background-color: var(--thirdColor);
}

